{% extends "hublms/templates/hublms_base.html" %}


{% block title %}
{{ 'Hublms' }}
{% endblock %}


{% block page_content %}
<!-- <div class="common-page-style pt-8">
    <div class="container">
        {% if restriction %}
        {% set profile_link = "<a href='/edit-profile'> profile </a>" %}
        <div class="empty-state">
            <div class="course-home-headings text-center mb-0" style="color: inherit;">
                {{ _("You haven't completed your profile.") }}
            </div>
            <p class="small text-center">
                {{ _("Complete your {0} to access the courses.").format(profile_link) }}
            </p>
        </div>

        {% else %}

            {% include "hublms/templates/search_course/search_course.html" %}

			<div class="course-list-menu">

                <select class="lms-menu" id="course-filter">
                    <option disabled value="">
                        {{ _("Sort By") }}
                    </option>
                    <option selected value="enrollment">
                        {{ _("Most Popular") }}
                    </option>
                    <option value="rating">
                        {{ _("Highest Rated") }}
                    </option>
                    <option value="creation">
                        {{ _("Newest") }}
                    </option>
                </select>

                <div class="course-list-buttons">
                    {% if frappe.session.user != "Guest" %}
                    <a class="btn btn-default btn-sm" href="/users">
                        {{ _("My Profile") }}
                    </a>
                    {% endif %}

                    <a class="btn btn-default btn-sm" id="open-search">
                        {{ _("Search") }} (Ctrl + k)
                    </a>

                    {% if show_creators_section %}
                    <a class="btn btn-primary btn-sm" href="/courses/new-course/edit">
                        {{ _("Create a Course") }}
                    </a>
                    {% endif %}
                </div>

            </div>

            <div class="page-title mb-6">
                {{ _("Listings") }}
            </div>

            <ul class="nav lms-nav" id="courses-tab">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#all">
                        {{ _("All") }}
                        <span class="course-list-count">
                            {{ programs | length }}
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#programs">
                        {{ _("Programs") }}
                        <span class="course-list-count">
                            {{ programs | length }}
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#live">
                        {{ _("Live Courses") }}
                        <span class="course-list-count">
                            {{ live_courses | length }}
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#upcoming">
                        {{ _("Upcoming Courses") }}
                        <span class="course-list-count">
                            {{ upcoming_courses | length }}
                        </span>
                    </a>
                </li>

                {% if frappe.session.user != "Guest" %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#courses-enrolled">
                        {{ _("Enrolled") }}
                        <span class="course-list-count">
                            {{ enrolled_courses | length }}
                        </span>
                    </a>
                </li>
                {% endif %}

                {% if show_creators_section %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#courses-created">
                        {{ _("Created") }}
                        <span class="course-list-count">
                            {{ created_courses | length }}
                        </span>
                    </a>
                </li>
                {% endif %}

                {% if show_review_section %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#courses-under-review">
                        {{ _("Under Review") }}
                        <span class="course-list-count">
                            {{ review_courses | length }}
                        </span>
                    </a>
                </li>
                {% endif %}

            </ul>

            <div class="border-bottom mb-4"></div>

            <div class="tab-content">
                <div class="tab-pane active" id="all" role="tabpanel" aria-labelledby="alls">
                    {% set courses = programs %}
                    {% set title = _("Programs") %}
                    {% set classes = "programs" %}
                    {% include "hublms/templates/all_list.html" %}
                </div>
                <div class="tab-pane " id="programs" role="tabpanel" aria-labelledby="programs">
                    {% set courses = programs %}
                    {% set title = _("Programs") %}
                    {% set classes = "programs" %}
                    {% include "hublms/templates/program_list.html" %}
                </div>
                <div class="tab-pane " id="live" role="tabpanel" aria-labelledby="live">
                    {% set courses = live_courses %}
                    {% set title = _("Live Courses") %}
                    {% set classes = "live-courses" %}
                    {% include "hublms/templates/course_list.html" %}
                </div>

                <div class="tab-pane" id="upcoming" role="tabpanel" aria-labelledby="upcoming">
                    {% set courses = upcoming_courses %}
                    {% set title = _("Upcoming Courses") %}
                    {% set classes = "upcoming-courses" %}
                    {% include "hublms/templates/course_list.html" %}
                </div>

                {% if frappe.session.user != "Guest" %}
                <div class="tab-pane fade" id="courses-enrolled" role="tabpanel" aria-labelledby="courses-enrolled">
					{% set courses = enrolled_courses %}
                    {% set title = _("Enrolled Courses") %}
                    {% set classes = "enrolled-courses" %}
                    {% include "hublms/templates/course_list.html" %}
                </div>
                {% endif %}

                {% if show_creators_section %}
                <div class="tab-pane fade" id="courses-created" role="tabpanel" aria-labelledby="courses-created">
                    {% set courses = created_courses %}
                    {% set title = _("Created Courses") %}
                    {% set classes = "created-courses" %}
                    {% include "hublms/templates/course_list.html" %}
                </div>
                {% endif %}

                {% if show_review_section %}
                <div class="tab-pane fade" id="courses-under-review" role="tabpanel" aria-labelledby="courses-under-review">
                    {% set courses = review_courses %}
                    {% set title = _("Review Courses") %}
                    {% set classes = "review-courses" %}
                    {% include "hublms/templates/course_list.html" %}
                </div>
                {% endif %}

            </div>

        {% endif %}
    </div>
</div> -->

<div class="common-page-style pt-8">
    <div class="container">
        <div class="modal fade search-modal" id="search-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <input class="search search-course" id="search-course" placeholder="Search for courses">
                    </div>
                </div>
            </div>
        </div>
        <script> frappe.ready(() => {
                $("#search-course").keyup((e) => {
                    search_course(e);
                });

                $("#open-search").click((e) => {
                    show_search_bar(e);
                });

                $("#search-modal").on("hidden.bs.modal", () => {
                    hide_search_bar();
                });

                $(document).keydown(function (e) {
                    if ((e.metaKey || e.ctrlKey) && e.key == "k") {
                        show_search_bar(e);
                    }
                });
            });

            const search_course = (e) => {
                let input = $(e.currentTarget).val();
                if (input == window.input) return;
                window.input = input;

                if (input.length < 3 || input.trim() == "") {
                    $(".result-row").remove();
                    return;
                }

                frappe.call({
                    method: "lms.lms.doctype.lms_course.lms_course.search_course",
                    args: {
                        text: input,
                    },
                    callback: (data) => {
                        render_course_list(data);
                    },
                });
            };

            const render_course_list = (data) => {
                let courses = data.message;
                $(".result-row").remove();

                if (!courses.length) {
                    let element = `<a class="result-row"> ${__("No result found")} </a>`;
                    $(element).insertAfter("#search-course");
                    return;
                }

                for (let i in courses) {
                    let element = `<a class="result-row" href="/courses/${courses[i].name}"> ${courses[i].title} </a>`;
                    $(element).insertAfter("#search-course");
                }
            };

            const show_search_bar = (e) => {
                $("#search-modal").modal("show");
                setTimeout(() => {
                    $("#search-course").focus();
                }, 1000);
            };

            const hide_search_bar = (e) => {
                $("#search-course").val("");
                $(".result-row").remove();
            }; 
        </script>

        <div class="course-list-menu">
            <select class="lms-menu" id="course-filter">
                <option disabled="" value="">
                    Sort By
                </option>
                <option selected="" value="enrollment">
                    Most Popular
                </option>
                <option value="rating">
                    Highest Rated
                </option>
                <option value="creation">
                    Newest
                </option>
            </select>
            <div class="course-list-buttons">
                <a class="btn btn-default btn-sm" href="/users">
                    My Profile
                </a>
                <a class="btn btn-default btn-sm" id="open-search">
                    Search (Ctrl + k)
                </a>
                <a class="btn btn-primary btn-sm" href="/courses/new-course/edit">
                    Create a Course
                </a>
            </div>
        </div>
        <div class="page-title mb-6">
            All Listings
        </div>
        <ul class="nav lms-nav" id="courses-tab">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#all">
                    All
                    <span class="course-list-count">
                        1
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#programs">
                    Programs
                    <span class="course-list-count">
                        1
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#courses">
                    Courses
                    <span class="course-list-count">
                        1
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#topics">
                    Topics
                    <span class="course-list-count">
                        1
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#upcoming">
                    Upcoming
                    <span class="course-list-count">
                        0
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#courses-enrolled">
                    Enrolled
                    <span class="course-list-count">
                        0
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#courses-created">
                    Created
                    <span class="course-list-count">
                        1
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#courses-under-review">
                    Under Review
                    <span class="course-list-count">
                        0
                    </span>
                </a>
            </li>
        </ul>
        <div class="border-bottom mb-4"></div>
        <div class="tab-content">
            <!-- TABS -->
            <div class="tab-pane active" id="all" role="tabpanel" aria-labelledby="all">
                <div class="all_listtings">
                    <div class="course-cards-parent cards-parent">
                        <div class="common-card-style course-card" data-course="course-1" data-rating="0"
                            data-enrollment="0" data-creation="2023-11-23 10:34:09.980434">
                            <div class="course-image  default-image ">
                                <div class="course-tags">
                                    <div class="course-card-pills">test</div>
                                    <div class="course-card-pills">tagslerem</div>
                                </div>
                                <div class="default-image-text">P</div>
                            </div>
                            <div class="course-card-content">
                                <div class="course-card-meta">
                                    <div class="vertically-center">
                                        <svg class="icon icon-md">
                                            <use href="#icon-education"></use>
                                        </svg>
                                        1
                                    </div>
                                </div>
                                <div class="course-card-title">
                                    Program 1
                                </div>
                                <div class="short-introduction">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.
                                </div>
                                <div class="course-card-footer">
                                    <div class="course-card-instructors">
                                        <div class="avatar-group overlap">
                                            <span class="avatar avatar-small" title="Administrator">
                                                <a class="button-links" href="/users/administrator">
                                                    <span class="avatar-frame standard-image" title="Administrator"
                                                        style="background-color: var(--dark-green-avatar-bg); color: var(--dark-green-avatar-color);">
                                                        A
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="avatar avatar-small" title="Francis">
                                                <a class="button-links" href="/users/francis">

                                                    <span class="avatar-frame standard-image" title="Francis"
                                                        style="background-color: var(--red-avatar-bg); color: var(--red-avatar-color);">
                                                        F
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                        <a class="button-links" href="/users/administrator">
                                            <span class="course-instructor">
                                                Administrator and Francis
                                            </span>
                                        </a>
                                    </div>
                                    <div class="course-price">
                                        ₱ 10
                                    </div>
                                </div>
                                <a class="stretched-link" href="/hublms/programs/program-1"></a>

                            </div>
                        </div>
                        <div class="common-card-style course-card" data-course="course-1" data-rating="0"
                            data-enrollment="0" data-creation="2023-11-23 10:34:09.980434">
                            <div class="course-image  default-image ">
                                <div class="course-tags">
                                    <div class="course-card-pills">test</div>
                                    <div class="course-card-pills">tagslerem</div>
                                </div>
                                <div class="default-image-text">C</div>
                            </div>
                            <div class="course-card-content">
                                <div class="course-card-meta">
                                    <div class="vertically-center">
                                        <svg class="icon icon-md">
                                            <use href="#icon-education"></use>
                                        </svg>
                                        1
                                    </div>
                                </div>
                                <div class="course-card-title">
                                    Course 1
                                </div>
                                <div class="short-introduction">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.
                                </div>
                                <div class="course-card-footer">
                                    <div class="course-card-instructors">
                                        <div class="avatar-group overlap">
                                            <span class="avatar avatar-small" title="Administrator">
                                                <a class="button-links" href="/users/administrator">
                                                    <span class="avatar-frame standard-image" title="Administrator"
                                                        style="background-color: var(--dark-green-avatar-bg); color: var(--dark-green-avatar-color);">
                                                        A
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="avatar avatar-small" title="Francis">
                                                <a class="button-links" href="/users/francis">

                                                    <span class="avatar-frame standard-image" title="Francis"
                                                        style="background-color: var(--red-avatar-bg); color: var(--red-avatar-color);">
                                                        F
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                        <a class="button-links" href="/users/administrator">
                                            <span class="course-instructor">
                                                Administrator and Francis
                                            </span>
                                        </a>
                                    </div>
                                    <div class="course-price">
                                        Free
                                    </div>
                                </div>
                                <a class="stretched-link" href="/hublms/course/course-1"></a>
                            </div>
                        </div>
                        <div class="common-card-style course-card" data-course="course-1" data-rating="0"
                            data-enrollment="0" data-creation="2023-11-23 10:34:09.980434">
                            <div class="course-image  default-image ">
                                <div class="course-tags">
                                    <div class="course-card-pills">test</div>
                                    <div class="course-card-pills">tagslerem</div>
                                </div>
                                <div class="default-image-text">T</div>
                            </div>
                            <div class="course-card-content">
                                <div class="course-card-meta">
                                    <div class="vertically-center">
                                        <svg class="icon icon-md">
                                            <use href="#icon-education"></use>
                                        </svg>
                                        1
                                    </div>
                                </div>
                                <div class="course-card-title">
                                    Topic 1
                                </div>
                                <div class="short-introduction">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.
                                </div>
                                <div class="course-card-footer">
                                    <div class="course-card-instructors">
                                        <div class="avatar-group overlap">
                                            <span class="avatar avatar-small" title="Administrator">
                                                <a class="button-links" href="/users/administrator">
                                                    <span class="avatar-frame standard-image" title="Administrator"
                                                        style="background-color: var(--dark-green-avatar-bg); color: var(--dark-green-avatar-color);">
                                                        A
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="avatar avatar-small" title="Francis">
                                                <a class="button-links" href="/users/francis">

                                                    <span class="avatar-frame standard-image" title="Francis"
                                                        style="background-color: var(--red-avatar-bg); color: var(--red-avatar-color);">
                                                        F
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                        <a class="button-links" href="/users/administrator">
                                            <span class="course-instructor">
                                                Administrator and Francis
                                            </span>
                                        </a>
                                    </div>
                                    <div class="course-price">
                                        Free
                                    </div>
                                </div>
                                <a class="stretched-link" href="/hublms/topic/topic-1"></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- TABS -->
            <div class="tab-pane" id="programs" role="tabpanel" aria-labelledby="programs">
                <div class="programs">
                    <div class="course-cards-parent cards-parent">
                        <!-- COURSE CARDS -->
                        <div class="common-card-style course-card" data-course="course-1" data-rating="0"
                            data-enrollment="0" data-creation="2023-11-23 10:34:09.980434">
                            <div class="course-image  default-image ">
                                <div class="course-tags">
                                    <div class="course-card-pills">test</div>
                                    <div class="course-card-pills">tagslerem</div>
                                </div>
                                <div class="default-image-text">P</div>
                            </div>
                            <div class="course-card-content">
                                <div class="course-card-meta">
                                    <div class="vertically-center">
                                        <svg class="icon icon-md">
                                            <use href="#icon-education"></use>
                                        </svg>
                                        1
                                    </div>
                                </div>
                                <div class="course-card-title">
                                    Program 1
                                </div>
                                <div class="short-introduction">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.
                                </div>
                                <div class="course-card-footer">
                                    <div class="course-card-instructors">
                                        <div class="avatar-group overlap">
                                            <span class="avatar avatar-small" title="Administrator">
                                                <a class="button-links" href="/users/administrator">
                                                    <span class="avatar-frame standard-image" title="Administrator"
                                                        style="background-color: var(--dark-green-avatar-bg); color: var(--dark-green-avatar-color);">
                                                        A
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="avatar avatar-small" title="Francis">
                                                <a class="button-links" href="/users/francis">

                                                    <span class="avatar-frame standard-image" title="Francis"
                                                        style="background-color: var(--red-avatar-bg); color: var(--red-avatar-color);">
                                                        F
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                        <a class="button-links" href="/users/administrator">
                                            <span class="course-instructor">
                                                Administrator and Francis
                                            </span>
                                        </a>
                                    </div>
                                    <div class="course-price">
                                        ₱ 10
                                    </div>
                                </div>
                                <a class="stretched-link" href="/hublms/programs/program-1"></a>
                            </div>
                        </div>
                        <!-- COURSE CARDS -->
                    </div>
                </div>
                
            </div>
            <div class="tab-pane" id="courses" role="tabpanel" aria-labelledby="courses">
                <div class="courses">
                    <div class="course-cards-parent cards-parent">
                        <div class="common-card-style course-card" data-course="course-1" data-rating="0"
                            data-enrollment="0" data-creation="2023-11-23 10:34:09.980434">
                            <div class="course-image  default-image ">
                                <div class="course-tags">
                                    <div class="course-card-pills">test</div>
                                    <div class="course-card-pills">tagslerem</div>
                                </div>
                                <div class="default-image-text">C</div>
                            </div>
                            <div class="course-card-content">
                                <div class="course-card-meta">
                                    <div class="vertically-center">
                                        <svg class="icon icon-md">
                                            <use href="#icon-education"></use>
                                        </svg>
                                        1
                                    </div>
                                </div>
                                <div class="course-card-title">
                                    Course 1
                                </div>
                                <div class="short-introduction">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.
                                </div>
                                <div class="course-card-footer">
                                    <div class="course-card-instructors">
                                        <div class="avatar-group overlap">
                                            <span class="avatar avatar-small" title="Administrator">
                                                <a class="button-links" href="/users/administrator">
                                                    <span class="avatar-frame standard-image" title="Administrator"
                                                        style="background-color: var(--dark-green-avatar-bg); color: var(--dark-green-avatar-color);">
                                                        A
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="avatar avatar-small" title="Francis">
                                                <a class="button-links" href="/users/francis">

                                                    <span class="avatar-frame standard-image" title="Francis"
                                                        style="background-color: var(--red-avatar-bg); color: var(--red-avatar-color);">
                                                        F
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                        <a class="button-links" href="/users/administrator">
                                            <span class="course-instructor">
                                                Administrator and Francis
                                            </span>
                                        </a>
                                    </div>
                                    <div class="course-price">
                                        Free
                                    </div>
                                </div>
                                <a class="stretched-link" href="/hublms/course/course-1"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="topics" role="tabpanel" aria-labelledby="topics">
                <div class="topics">
                    <div class="course-cards-parent cards-parent">
                        <div class="common-card-style course-card" data-course="course-1" data-rating="0"
                            data-enrollment="0" data-creation="2023-11-23 10:34:09.980434">
                            <div class="course-image  default-image ">
                                <div class="course-tags">
                                    <div class="course-card-pills">test</div>
                                    <div class="course-card-pills">tagslerem</div>
                                </div>
                                <div class="default-image-text">T</div>
                            </div>
                            <div class="course-card-content">
                                <div class="course-card-meta">
                                    <div class="vertically-center">
                                        <svg class="icon icon-md">
                                            <use href="#icon-education"></use>
                                        </svg>
                                        1
                                    </div>
                                </div>
                                <div class="course-card-title">
                                    Topic 1
                                </div>
                                <div class="short-introduction">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.
                                </div>
                                <div class="course-card-footer">
                                    <div class="course-card-instructors">
                                        <div class="avatar-group overlap">
                                            <span class="avatar avatar-small" title="Administrator">
                                                <a class="button-links" href="/users/administrator">
                                                    <span class="avatar-frame standard-image" title="Administrator"
                                                        style="background-color: var(--dark-green-avatar-bg); color: var(--dark-green-avatar-color);">
                                                        A
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="avatar avatar-small" title="Francis">
                                                <a class="button-links" href="/users/francis">

                                                    <span class="avatar-frame standard-image" title="Francis"
                                                        style="background-color: var(--red-avatar-bg); color: var(--red-avatar-color);">
                                                        F
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                        <a class="button-links" href="/users/administrator">
                                            <span class="course-instructor">
                                                Administrator and Francis
                                            </span>
                                        </a>
                                    </div>
                                    <div class="course-price">
                                        ₱ 10
                                    </div>
                                </div>
                                <a class="stretched-link" href="/hublms/topic/topic-1"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="upcoming" role="tabpanel" aria-labelledby="upcoming">
                <div class="upcoming-courses">
                    <div class="empty-state">
                        <img class="icon icon-xl" src="/assets/lms/icons/comment.svg">
                        <div class="empty-state-text">
                            <div class="empty-state-heading">No Upcoming Item</div>
                            <div class="course-meta">There are no upcoming item on this site.</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade" id="courses-enrolled" role="tabpanel" aria-labelledby="courses-enrolled">
                <div class="enrolled-courses">
                    <div class="empty-state">
                        <img class="icon icon-xl" src="/assets/lms/icons/comment.svg">
                        <div class="empty-state-text">
                            <div class="empty-state-heading">No Enrolled Item</div>
                            <div class="course-meta">There are no enrolled Item on this site.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="courses-created" role="tabpanel" aria-labelledby="courses-created">
                <div class="created-courses">
                    <div class="course-cards-parent cards-parent">
                        <div class="common-card-style course-card" data-course="course-1" data-rating="0"
                            data-enrollment="0" data-creation="2023-11-23 10:34:09.980434">
                            <div class="course-image  default-image ">
                                <div class="course-tags">
                                    <div class="course-card-pills">test</div>
                                    <div class="course-card-pills">tagslerem</div>
                                </div>
                                <div class="default-image-text">C</div>
                            </div>
                            <div class="course-card-content">
                                <div class="course-card-meta">
                                    <div class="vertically-center">
                                        <svg class="icon icon-md">
                                            <use href="#icon-education"></use>
                                        </svg>
                                        1
                                    </div>
                                </div>
                                <div class="course-card-title">
                                    Course 1
                                </div>
                                <div class="short-introduction">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.
                                </div>
                                <div class="course-card-footer">
                                    <div class="course-card-instructors">
                                        <div class="avatar-group overlap">
                                            <span class="avatar avatar-small" title="Administrator">
                                                <a class="button-links" href="/users/administrator">

                                                    <span class="avatar-frame standard-image" title="Administrator"
                                                        style="background-color: var(--dark-green-avatar-bg); color: var(--dark-green-avatar-color);">
                                                        A
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="avatar avatar-small" title="Francis">
                                                <a class="button-links" href="/users/francis">
                                                    <span class="avatar-frame standard-image" title="Francis"
                                                        style="background-color: var(--red-avatar-bg); color: var(--red-avatar-color);">
                                                        F
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                        <a class="button-links" href="/users/administrator">
                                            <span class="course-instructor">
                                                Administrator and Francis
                                            </span>
                                        </a>
                                    </div>

                                    <div class="course-price">
                                        ₱ 10
                                    </div>
                                </div>
                                <a class="stretched-link" href="/hublms/course-1"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="courses-under-review" role="tabpanel" aria-labelledby="courses-under-review">
                <div class="review-courses">
                    <div class="empty-state">
                        <img class="icon icon-xl" src="/assets/lms/icons/comment.svg">
                        <div class="empty-state-text">
                            <div class="empty-state-heading">No Under Review Item</div>
                            <div class="course-meta">There are no under review item on this site.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
