{% extends "hublms/templates/hublms_base.html" %}


{% block title %}
{{ 'Hublms - Course' }}
{% endblock %}


{% block page_content %}
<div class="common-page-style">
    <div class="course-home-top-container">
        
<div class="course-head-container">
    <div class="container">
        <div class="course-card-wide">
            
<div class="breadcrumb">
    <a class="dark-links" href="/courses">All</a>
    <img class="" src="/assets/lms/icons/chevron-right.svg">
    <span class="breadcrumb-destination">Course 1</span>
</div>

            
    <div class="d-flex align-items-center mt-8">
        
        <div class="course-card-pills">
            test
        </div>
        
        <div class="course-card-pills">
            tagslerem
        </div>
        
    </div>

    <div id="title" class="page-title">
        Course 1
    </div>

    <div id="intro">
        
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        
    </div>

    
    <div class="avg-rating-stars">
        <div class="rating">
            
            <svg class="icon icon-lg " data-rating="1">
                <use href="#icon-star"></use>
            </svg>
            
            <svg class="icon icon-lg " data-rating="2">
                <use href="#icon-star"></use>
            </svg>
            
            <svg class="icon icon-lg " data-rating="3">
                <use href="#icon-star"></use>
            </svg>
            
            <svg class="icon icon-lg " data-rating="4">
                <use href="#icon-star"></use>
            </svg>
            
            <svg class="icon icon-lg " data-rating="5">
                <use href="#icon-star"></use>
            </svg>
            
        </div>
    </div>
    

    <div class="mt-2">
        <div class="bold-heading">Instructors:</div>
        
        <div class="mt-1">
            
<span class="avatar avatar-small" title="Administrator">
    <a class="button-links" href="/users/administrator">
        
        <span class="avatar-frame standard-image" title="Administrator" style="background-color: var(--dark-green-avatar-bg); color: var(--dark-green-avatar-color);">
            A
        </span>
        
    </a>
</span>
            <a class="button-links" href="/users/administrator">
                <span class="course-instructor"> Administrator </span>
            </a>
        </div>
        
        <div class="mt-1">
            
<span class="avatar avatar-small" title="Francis">
    <a class="button-links" href="/users/francis">
        
        <span class="avatar-frame standard-image" title="Francis" style="background-color: var(--red-avatar-bg); color: var(--red-avatar-color);">
            F
        </span>
        
    </a>
</span>
            <a class="button-links" href="/users/francis">
                <span class="course-instructor"> Francis </span>
            </a>
        </div>
        
    </div>

    

        </div>
    </div>
</div>

        <div class="course-home-page">
            <div class="container">
                
    <div class="course-overlay-card">

        
        <iframe class="preview-video" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/eCAMPcl7NKc?si=k82o93ivq3j-_yeS" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
        

        <div class="course-overlay-content">

            <div class="cta-parent">
                
    

    <div class="all-cta">
        

        

        

        
            <a class="btn btn-secondary wide-button mt-2" title="Edit Course" href="/courses/course-1/edit">
                <!-- <svg class="icon icon-md">
                    <use href="#icon-edit"></use>
                </svg> -->
                Edit
            </a>
        
    </div>


            </div>

            
    <div id="interest-alert" class=" hide ">
        You have opted to be notified for this course. You will receive an email when the course becomes available.
    </div>

    

    


            
            <div class="vertically-center mb-3 bold-heading">
                ₱ 10
            </div>
            

            <div class="vertically-center mb-3">
                <svg class="icon icon-md mr-1">
                    <use class="" href="#icon-users">
                </use></svg>
                0 Enrolled
            </div>

            <div class="vertically-center mb-3">
                <svg class="icon icon-md mr-1">
                    <use href="#icon-education"></use>
                </svg>
                1 Lessons
            </div>

        </div>
    </div>


                <div class="course-body-container">
                    
<div class="course-description-section">
    <div class="ql-editor read-mode"><p><strong style="background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);">Lorem Ipsum</strong><span style="background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);">&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></p></div>
</div>

                    



<div class="course-home-outline">

    
    <div class="page-title mb-8" id="outline-heading" data-course="course-1">
        Course Content
    </div>

    <!-- <div class="mb-2">
        <span>
            1 chapters
        </span>
        <span>
            . 1 lessons
        </span>
    </div> -->
    

    
    <div>
    
    

    <div class="chapter-parent" data-chapter="0001 Chapter 1">

        <div class="chapter-title" data-toggle="collapse" aria-expanded="true" data-target="#chapter-1">

            <img class="chapter-icon" src="/assets/lms/icons/chevron-right.svg" style="transform: rotate(90deg);">
            <div class="chapter-title-main">
                Chapter 1
            </div>
            <!-- <div class="small ml-auto">
                1 lessons
            </div> -->
        </div>


        <div class="chapter-content collapse navbar-collapse show" id="chapter-1">

            
            <div class="chapter-description">
                sadasd
            </div>
            

            <div class="lessons">

                

                
                
                <div data-lesson="0002 Lesson 1" class="lesson-info ">

                
                <a class="lesson-links" href="/courses/course-1/learn/1.1" title="This lesson is not available for preview. As you are the Instructor of the course only you can see it.">

                    <svg class="icon icon-sm mr-2">
                        <use class="" href="#icon-list">
                    </use></svg>

                    <span>Lesson 1</span>

                    

                </a>

                

                </div>
                

            
            </div>

        </div>
    </div>
    
    </div>

    

</div>



<!-- No Preview Modal -->
<div class="modal fade no-preview-modal" id="no-preview-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <div class="modal-title">Not Available for Preview</div>
            </div>

            <div class="modal-body">
                
                    <div class="">
                        This lesson is not available for preview. Please join the course to access it.
                    </div>
                
            </div>

            
            <div class="modal-footer">

                <button class="btn btn-secondary btn-sm pull-right mr-2" data-dismiss="modal" aria-label="Close">
                    Discard
                </button>

                
            </div>
            

        </div>
    </div>
</div>


                    
                        
<div class="reviews-parent">
    
    <div class="page-title mb-5"> Reviews </div>


    


    
    <div class="empty-state">
        <img class="icon icon-xl" src="/assets/lms/icons/comment.svg">
        <div class="empty-state-text">
            <div class="empty-state-heading">Review the course</div>
            <div class="course-meta">Help us improve our course material.</div>
            <div class="mt-2">
                
            </div>
        </div>
    </div>
    
</div>


<div class="modal fade review-modal" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Write a Review</div>
            </div>


            <div class="modal-body">
                <form class="review-form" id="review-form">
                    <div class="form-group">
                        <div class="clearfix">
                            <label class="control-label reqd" style="padding-right: 0px;">Rating</label>
                        </div>
                        <div class="control-input-wrapper">
                            <div class="control-input">
                                <div class="rating rating-field" id="rating">
                                    
                                    <svg class="icon icon-md icon-rating" data-rating="1">
                                        <use href="#icon-star"></use>
                                    </svg>
                                    
                                    <svg class="icon icon-md icon-rating" data-rating="2">
                                        <use href="#icon-star"></use>
                                    </svg>
                                    
                                    <svg class="icon icon-md icon-rating" data-rating="3">
                                        <use href="#icon-star"></use>
                                    </svg>
                                    
                                    <svg class="icon icon-md icon-rating" data-rating="4">
                                        <use href="#icon-star"></use>
                                    </svg>
                                    
                                    <svg class="icon icon-md icon-rating" data-rating="5">
                                        <use href="#icon-star"></use>
                                    </svg>
                                    
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="clearfix">
                            <label class="control-label reqd" style="padding-right: 0px;">Review</label>
                        </div>
                        <div class="control-input-wrapper">
                            <div class="control-input">
                                <textarea type="text" autocomplete="off" class="input-with-feedback form-control review-field" data-fieldtype="Text" data-fieldname="feedback_comments" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </div>
                    <p class="error-field muted-text"></p>
                </form>
            </div>


            <div class="modal-footer">
                <button class="btn btn-secondary btn-sm mr-2" data-dismiss="modal" aria-label="Close">
                    Discard
                </button>

                <button class="btn btn-primary btn-sm" data-course="course-1" id="submit-review">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>

                    
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}